/* Code blocks look like:
<pre class='shiki twoslash'>
 <div class='language-id>[lang-id]</div>
 <div class='code-container'>
    <code>[the code as a series of spans]</code>
 </div>
</pre>
*/
pre {
    padding: 12px;
    border: 1px solid #999;
    margin-bottom: 2rem;
    overflow: auto;
    position: relative;
    scrollbar-width: thin;
}

pre.shiki {
    overflow: initial;
    /* md grey 900 */
    background: rgb(33, 33, 33);
    color: white;
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier,
        monospace;
    font-size: large;
}
.shiki .language-id {
    user-select: none;
    opacity: 0.6;
    float: right;
}
pre.twoslash {
    border-color: #00d0ff;
    box-shadow: 0px 0px 20px #00d0ff22;
}
/* The code inside should scroll, but the overflow can't be on the shiki because it would not allow the relative positioning */
pre .code-container {
    overflow: auto;
}
/* Handle scrolling, and showing code correctly */
pre code {
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
pre data-err {
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
    text-decoration-skip-ink: none;
    text-decoration-skip: leading-spaces trailing-spaces;
    padding-bottom: 3px;
}
/* In order to have the 'popped out' style design and to not break the layout
/* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
/* behind the actual error message.
/* This section keeps both of those in sync  */
pre .error,
pre .error-behind {
    /* -12px padding and -1px border in pre */
    margin-left: -13px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 6px;
    padding-left: 14px;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: block;
}
pre .error {
    position: absolute;
    /* material red 100 */
    background-color: rgb(255, 205, 210);
    color: black;
    border-left: 5px solid rgb(229, 57, 53);
    box-sizing: border-box;
    display: inline;
    align-items: center;
}
pre .error .code {
    display: none;
}
pre .error-behind {
    user-select: none;
    visibility: hidden;
}
pre a {
    color: inherit;
    display: block;
}
data-lsp {
    /* Ensures there's no 1px jump when the hover happens above */
    border-bottom: 1px dotted transparent;
    /* text-decoration-color: #747474;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
    text-decoration-skip: leading-spaces trailing-spaces; */
    /* Fades in unobtrusively */
    transition-timing-function: ease;
    transition: border-color 0.3s;
}
/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
    data-lsp {
        transition: none;
    }
}
/** When you mouse over the pre, show the underlines */
pre:hover data-lsp {
    border-color: #8a8a8a;
}
/** The tooltip-like which provides the LSP response */
#twoslash-mouse-hover-info {
    background-color: #3f3f3f;
    color: #fff;
    text-align: left;
    padding: 5px 8px;
    border-radius: 2px;
    font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 14px;
    white-space: pre-wrap;
}
